/* h3{
    color: blue;
}

/* hover means mouse over */
/* h3:hover {
    color: brown;
    background-color: black;
}
.contact-from input{
    margin-bottom: 25px;

}
.contact-from input:focus{
    color: brown;
} */ */
